<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <title>Carole Wagener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="topnav" id="myTopnav">
    <a href="/" id="logo-href" class="active "><img id="logo" src="{% static 'img/logo.png' %}" alt="CW logo"></a>
    <div id="myLinks">
        <span></span>
        <a href="/">Home</a>
        <a href="/bio">Bio</a>
        <div class="dropdown">
            <button class="dropbtn">Books</button>
            <div class="dropdown-content">
                <a href="/hardestYear">The Hardest Year</a>
                <a href="/anthologies">Anthologies</a>
            </div>
        </div> 
        <a href="/contact">Contact</a>
        <span></span>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
        <i id="fafa" class="fa fa-bars"></i>
    </a>
</nav> 
<div>
  <p>Carole Wagener can be reached at: clowagener@gmail.com or find me on <a href=""><img src="" alt="facebook"></a></p>
</div>
</body>
</html>
