<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <title>The Hardest Year</title>
</head>
<body>
    <header>
        <nav class="topnav" id="myTopnav">
            <a href="/" id="logo-href" class="active "><img id="logo" src="{% static 'img/logo.png' %}" alt="CW logo"></a>
            <div id="myLinks">
                <span></span>
                <a href="/">Home</a>
                <a href="/bio">Bio</a>
                <div class="dropdown">
                    <button class="dropbtn">Books</button>
                    <div class="dropdown-content">
                        <a href="/hardestYear">The Hardest Year</a>
                        <a href="/anthologies">Anthologies</a>
                    </div>
                </div> 
                <a href="/contact">Contact</a>
                <span></span>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
              <i id="fafa" class="fa fa-bars"></i>
            </a>
        </nav> 
    </header>
    <div class="main_container">
        <img id="scribble" src="{% static 'img/scribble.png' %}" alt="fancy scribble">
        <h1 id="greeting">The Hardest Year</h1>
    </div>
    <div class="hy-container">
        <img class="main_image" src="{% static 'img/book1.jpg' %}" alt="The Hardest Year book cover">
        <p class="para hy-para"> A Love Story in Letters from Vietnam: This hybrid memoir is written mainly from the point of view of a young military wife during the Vietnam Era. The story line is based on a true story with over three hundred letters written during the vietnam erra between the wife and her soldier husband, including their poetry, stories, and photographs. 
        <br>
        <br>In 1968, a nineteen-year-old college student, Carole, hastily married her college sweetheart one day before he shipping out to Vietnam. At the same time the war raged around her husband, Bill, a cultural war brewed across Carole’s college campus, UW-Madison. But, through regular correspondence, the couple soon discovered that sustaining love in the midst of separation was their ultimate battle.
        </p>
        
        
      </div>
    <!-- <div class="pict_container">
        <img id="myImg" src="{% static 'img/uniform.jpg' %}" alt="Bill in Uniform" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/wedding.jpg' %}" alt="Wedding photo" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/wedding2.jpg' %}" alt="Bill removing the garter" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/youngcarole.jpg' %}" alt="Picture of young Carole" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/capitaldem.jpg' %}" alt="Capital demenstration" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/airplane.jpg' %}" alt="Army Plane" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/GiBoarding.jpg' %}" alt="Gi's Boarding Pan Am" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/bday.jpg' %}" alt="Carole's birthday" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/candb.jpg' %}" alt="Bill and Carole" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/map.jpg' %}" alt="Vietnam Map" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/pilot.jpg' %}" alt="Bill in Pilot seat" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/foxhole.jpg' %}" alt="Bill in uniform" style="width:100%;max-width:400px" onclick="myFunction(this);">
    </div>
         The Modal
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div> --> 
      <div class="hy-container">
        <p class="para hy-para">
        
          Carole Wagener graduated from UW-Madison in 1970 with a degree in pysical therapy. She went on to have a successful career in physical therapy and retiring in 2018. 
  
          Carole is active in the Coastal Dunes California Writers Club which has published her work in their anthologies. A worldwide traveler, she has visited twenty-two countries and now enjoys traveling in the western U.S. to visit her family.
          
          <br>William Wagener was honorably discharged from the U.S. Army in 1969 and is a fifty-percent disabled Vietnam veteran. He received a degree in environmental science from the University of Wisconsin-Green Bay and then moved to Los Angeles in 1975 to attend law school. He quit law school to become a successful real estate salesperson.
          
          For more than twenty years, William has produced two weekly television shows, On Second Thought and Take Back America, on a local Santa Barbara public access station. He received worldwide recognition for his coverage of the 2005 Michael Jackson trial. He has self-published two family genealogy books.
          
          The Hardest Year is the couple’s first collaborative memoir. Carole is working on a personal memoir and an eBook. William is writing his autobiography and a book about the Jackson Trial.        </p>
        <div class="main_container">
            <img class="img_hy" src="{% static 'img/withBill.jpg' %}" alt="Carole and Bill 2021" onclick="myFunction(this);">
        </div>
      </div>
      <div class="main_container">
        <h1>Author's Notes</h1>
        <p class="para">While writing this memoir, I asked myself why I wanted to take on this huge project. What was my goal? What did I hope to accomplish? What follows is a list of reasons that drove me to delve into the hardest year of our lives, and share it with you, the reader.

          <br>1. To preserve the history of this period, 1968-1969.
          
          <br>2. To contrast two different worlds, one at war and one anti-war.
          
          <br>3. To write a book from the female perspective of a wartime family member.
          
          <br>4. To help young people in the U.S. military far away from their families who may have the same feelings regarding separation/isolation.
          
          <br>5. To help all married couples realize that emotions are fleeting, but love is a commitment.
          
          <br>6. To share my faith in God that helped me get through the hardest year.
          
          <br>7. To get more in touch with my own emotions during that time of anger, anxiety, longing, and depression, for self-healing.
          
          <br>8. To see the growth in my own life and how people like Pete Seeger profoundly affected my generation through music and how increased social consciousness helped to end the war.
          
          <br>9. To show how profound the written word is in our lives and how complex communication is in a long-distance relationship.
          
          <br>10. To heal and help others do the same, especially those who served or lost a loved one in Vietnam.
          
          Writing this book entailed a lot of joy and some complex challenges. The best part was re-reading three shoeboxes of about three hundred letters from fifty years ago, reliving memories with family and friends, and turning those memories into exciting stories. I enjoyed speaking with my college dormmate, Jayne, after thirty years of no contact. Bill found his cousin, Chuck Overbeck, and caught up with him by phone. Chuck lost his younger brother, Phillip, to the war and stated most of the guys in his water purification unit died from the after-effects of Agent Orange, a herbicide used in Vietnam as a defoliant.
          
          The most challenging aspect of writing The Hardest Year was getting in touch with my emotions and becoming more transparent. During a mentoring session with writer Peter Dunne at a local writer’s conference, I began to understand my antagonist was the war and the political climate in the 1960s, not my husband! Encouraged by that conference in September 2019, I went home and wrote about my anger and desperation, which eventually became Chapter 2 of The Hardest Year.
          <br>
          <br>For Bill, reliving the war was the greatest challenge. So many life-threatening events happened to him, not all of which were mentioned in this book. Bill said, “It’s taken me fifty years to forget these things, but war is raw, so I write it like it was.”
          
          Bill and I wondered how readers would respond regarding our private letters. Were there too many or not enough intimate details? Granted, Bill and I were married, and it was the 1960s— the beginning of the sexual revolution and the Women’s Liberation Movement.
          
          I learned a lot while writing this book. First, I read many nonfiction wartime stories and started to see a universal theme. Many women who never served in the military were still deeply affected by wars. Second, I read fictional books about the GIs who served in Vietnam and stories dealing with the aftermath of PTSD. Third, in my job as a physical therapist, I worked with many veterans and heard their stories.
          
          I loved learning about the geography and the history of Vietnam. In addition, I had the privilege of knowing Tin, a U.S. Air Force Lieutenant who grew up in Vietnam. But, I felt betrayed when I discovered that Dr. Tom Dooley (whose books I read in high school) might have had connections with our own CIA.
          
          Bill, too, was livid after hearing Robert S. McNamara, the former Secretary of Defense, say on television that the special op spy missions (where Bill was dropped by helicopter into North Vietnam) were essentially decoy missions to assist the Green Berets. It almost got Bill killed. Then, when he returned to the States, he heard that the men in the next mission were lost.
          
          In the future, we’d eventually like to record an audio version of The Hardest Year. Of course, we’d also love to see our story made into a movie where we could include more details of how God and Bill’s Boy Scout training helped save his life in Vietnam.
          
          When I was preparing to write this book, I retired after a fifty year career in physical therapy. I now write full-time when I’m not traveling or spending time with my children and grandchildren. I’ve published short stories and poetry and taken classes in life story writing. I’ve traveled to twenty-two countries, most recently Australia. You can read about my writing and travels on Facebook or my website.
          
          It took Bill seven years of weekly talk-counseling until his counselor believed it was no longer beneficial. He urged Bill to consider doing a talk-television show on the local Public Access Television station where Bill could discuss anything he wanted. So Bill went to the local studio and received audio/video training along with our eldest son, three daughters, and myself. We served as his director, camera crew, and soundboard technician.
          
          From those humble beginnings, for twenty-three years, Bill went on to produce two weekly television shows. He renamed himself “the good guy in the white hat” and called his productions On Second Thought and Take Back America. Televised on Channel 25 in Northern Santa Barbara County, his shows have dealt with political and governmental issues affecting people’s everyday lives.
          
          Bill became known worldwide for his coverage of the 2005 Michael Jackson trial. He attended sixty-three out of the sixty-five-day trial held in Santa Maria, California. He did thirteen TV shows about the prosecution and predicted that Michael would be found innocent of all counts. He has twice traveled to Europe to tell the fans the details of the trial that corporate media did not present. You can watch his interview of Jackson’s defense attorney, Thomas Mesereau, Jr. on YouTube by searching for William Wagener or follow William on Facebook.
        </p>
      </div>
      <div class="pict_container">
        <img id="myImg" src="{% static 'img/uniform.jpg' %}" alt="Bill in Uniform" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/wedding.jpg' %}" alt="Wedding photo" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/wedding2.jpg' %}" alt="Bill removing the garter" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/youngcarole.jpg' %}" alt="Picture of young Carole" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/capitaldem.jpg' %}" alt="Capital demenstration" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/airplane.jpg' %}" alt="Army Plane" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/GiBoarding.jpg' %}" alt="Gi's Boarding Pan Am" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/bday.jpg' %}" alt="Carole's birthday" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/candb.jpg' %}" alt="Bill and Carole" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/map.jpg' %}" alt="Vietnam Map" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/pilot.jpg' %}" alt="Bill in Pilot seat" style="width:100%;max-width:400px" onclick="myFunction(this);">
        <img id="myImg" src="{% static 'img/foxhole.jpg' %}" alt="Bill in uniform" style="width:100%;max-width:400px" onclick="myFunction(this);">
    </div>
        <!-- The Modal -->
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
          <footer>
          <div><p>copyright &copy; {{year}} carolewagener.com</p></div>
      </footer>
        <script src="{% static 'js/script.js'%}"></script>
</body>
</html>