/* font-family: 'Lato', sans-serif;
font-family: 'Zen Antique Soft', serif; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: 'Lato', sans-serif;
	vertical-align: baseline;
}
body{
  background-color: #fcfcf7;
  min-height: 800px;
}
h1{
  font-size: 24px;
  margin: 10px;
}
img{
  object-fit: contain;
}
#greeting{
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  color: #ff3836;
  margin: 3%;
  display: flex;
  justify-content: center;
}
#scribble{
  width: 60vw;
  margin-bottom: -16vw;
}
.main_image{
  width: 30vw;
  margin: 10px;
}
#main_p, #bio_p{
  max-width: 30vw;
  font-size: 20px;
  line-height: 1.8;
  max-height: 22em;  
  overflow: scroll;
  letter-spacing: .1rem;
  padding: 12px;
}
#bio_p{
  max-width: 50vw;
  max-height: 60vh;
}
.middle_container, footer{
  display: flex;
  justify-content: space-evenly;
  margin: 4vw 11vw;
}
#apoc_img{
  max-width: 1000px;
  width: 100%;
}
.justify_cont_center{
  display: flex;
  justify-content: center;
}
.scary_story_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 8em;
  color: #6a6057;
}
.message_from_author_box{
  display: flex;
  width: 506px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.author_p{
  width: auto;
  max-width: 402px;
  color: #7e2340;
  font-size: 20px;
  font-family: initial;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 30px;
}
.laura_p{
  max-width: 500px;
}
.author_name{
  margin-top: -20px;
  margin-left: 95px;
}
.quotes_imgL, .quotes_imgR, .quotes_imgRight{
  width: 18px;
}
.quotes_imgR{
  margin-right: 42px;
  margin-bottom: 8px;
  height: 30px;
}
.quotes_imgL{
  margin-top:-8px;
  margin-right: 4px;
}
.quotes_imgRight{
  margin: -22px 16px 0px -32px;
  height: 42px;
}
.apoc_box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1% 12%;
}
.apoc_box h2{
  margin: 0% 0% 2% 24%;
}
.apoc_box img{
  margin: 39px;
}
#apoc-p{
  width: 80%;
  line-height: 28px;
  font-family: 'Zen Antique Soft', serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.book_info_box{
  display: flex;
  justify-content: space-evenly;
  margin: 4% 11%;
  align-items: center;
}
.cover_img{
  width: 300px;
  padding: 20px;
}
.book_info_box p{
  width: 400px;
  font-size: 20px;
  padding: 20px;
  font-family: serif;
}
.book_imgs{
  width: 200px;
  height: 280px;
  margin: 10px;
}
.book_imgs:hover{
  margin: 5px;
}
.book_container{
  display: flex;
  justify-content: space-evenly;
  margin: 1vw 14vw;
}
.img_hy{
  width: 50vw;
  padding: 10px;
  object-fit: contain;
}
.main_container, .contact_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_container{
  border: 2px solid black;
  padding: 10px;
  border-radius: 2em 1em 4em / 0.5em 3em;
  max-width: 400px;
  margin: 10px;
}
.spacer{
  height: 25vh;
}
.hy-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10vh;
}
.para{
  max-width: 50vw;
  font-size: 20px;
  line-height: 1.8;
  max-height: 30em;  
  overflow: scroll;
  letter-spacing: .1rem;
  padding: 12px;
  margin-left: 5vw;
}
.hy-para{
  max-height: 36em;
  width: 40vw;
  min-width: 300px;
  padding: none;
}
.pict_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}
#logo{
  width: 58px;
  margin: -18px;
  padding: 4px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
#myLinks{
  display: flex;
  justify-content: space-evenly;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffef7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.topnav a:not(:first-child):hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  /* margin-top: 5px; */
  padding: 10px 16px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.slideshow-box{
  margin: 10px;
  width: fit-content;
}
#anthologies_p{
  display: flex;
  justify-self: center;
  font-size: 20px;
  max-width: 600px;
  padding: 10px;
}

@media screen and (min-width: 1920px){
  .main_image{
    width: 26vw;
  }
}
@media screen and (max-width: 1024px){
  .main_image{
    width: 40vw;
    margin: 2vw;
  }
  .middle_container{
    margin: 2vw 3vw;
  }
  #main_p {
    font-size: 20px;
    margin: 1vw 2vw;
  }
}
@media screen and (max-width: 600px) {
  .message_from_author_box{
  width: auto;
  }
  .apoc_box, .book_info_box{
    display: block;
  }
  .topnav a, .dropdown .dropbtn, .apoc_box img, .spacer {
    display: none;
  }
  #logo{
    display: none;
  } 
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a:not(:first-child):hover, .dropdown:hover .dropbtn {
    background-color: transparent;
    border-radius: 0px;
    margin-top: 0px;
  }
  
  .middle_container, .hy-container, .book_container{
    margin: 20px;
    display: block;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #main_p, .para, #anthologies_p{
    font-size: 16px;
    max-width: 80vw;
    text-align: center;
  }
  .hy-para{
    max-height: 40em;
    padding: none;
    width: auto;
  }
  .main_image{
    display: flex;
    justify-self: center;
    width: 70%;
    border-radius: 2em;
    margin: 5% 15%;
  }
  .img_hy{
    width: 70%;
  }
  .book_container{
    display: block;
  }
  .main_container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .pict_container{
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}